

 body {
 	background: url(abstract.jpg);

 }

 img {
	width: 60px;
}

.connect , h1 {
    text-align: center;
    color: #4aaaa5;

}



.col-md-7 , .col-md-3 {
	margin-top: 80px;
	border:solid #ddd 3px;
	background: #fff;
	border-radius: 5px;
}

.stack , .linkedin , .github {

    display: inline-block;
    text-align: center;
}

   footer {
   /*  position: absolute;  */
    text-align: center;
    width: 100%;
   /*  bottom: 0px */; 
    background: #666;
    padding: 35px;
    color: #fff;
    border-radius: 10px;
    border-top: solid 8px #4aaaa5
}

/* Navbar styling */

.navbar-brand {
    background: #4aaaa5;
    height: 80px;
    padding: 31px 60px 15px;
    font-size: 22px;
    border-radius: 10px;

    }

.container-fluid {
    background:#fff;
}


.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, .container>.navbar-header {
    background: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    }

    .navbar-toggle {
        background-color : #4aaaa5;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #4aaaa5;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 49px;
}

li > a:hover {
    color:#4aaaa5;
}